# Part 2. List and Tuples

#### 1.- In some cases, it is necessary to efficiently perform insertion or removal of elements both at the beginning and at the end of the collection. Measure the time for the following operations with N = 10000, 20000, 30000 elements:

    a.Delete lastelement of a list via pop()
    b.Delete firstelement of a list via pop(0)
    c.Append 1 at the end of the list.
    d.Insert 1 at the beginning of the list insert(0, 1)

#### Make a table with your results. It should looks like table on Chapter 2: Pure Python Optimization (pp. 38) from the book G. Lenaro (2017). Python high Performance. Second Edition. UK: Packt Publishing Ltd.

### For N = 10,000 elements:

In [10]:
import timeit
import pandas as pd

# Number of elements
N = 10000

# Operations to be measured
operations = {
    "Delete last element (pop)": "lst.pop()",
    "Delete first element (pop(0))": "lst.pop(0)",
    "Append 1 at the end": "lst.append(1)",
    "Insert 1 at the beginning": "lst.insert(0, 1)"
}

# Measure time for each operation
results = {}
for description, operation in operations.items():
    setup_code = f"lst = list(range({N}))"
    time_taken = timeit.timeit(stmt=operation, setup=setup_code, number=1000)
    results[description] = time_taken

results_microseconds = {operation: time * 1e6 for operation, time in results.items()}  # convert seconds to microseconds

# Convert results to a visual table
results_df_microseconds = pd.DataFrame(list(results_microseconds.items()), columns=['Operation', 'Time (microseconds)'])
results_df_microseconds

                       Operation  Time (microseconds)
0      Delete last element (pop)               15.484
1  Delete first element (pop(0))              864.475
2            Append 1 at the end               36.224
3      Insert 1 at the beginning             1648.231

### For N = 20,000 elements:

In [17]:
import timeit
import pandas as pd

# Number of elements
N = 20000

# Operations to be measured
operations = {
    "Delete last element (pop)": "lst.pop()",
    "Delete first element (pop(0))": "lst.pop(0)",
    "Append 1 at the end": "lst.append(1)",
    "Insert 1 at the beginning": "lst.insert(0, 1)"
}

# Measure time for each operation
results = {}
for description, operation in operations.items():
    setup_code = f"lst = list(range({N}))"
    time_taken = timeit.timeit(stmt=operation, setup=setup_code, number=1000)
    results[description] = time_taken

results_microseconds = {operation: time * 1e6 for operation, time in results.items()}  # convert seconds to microseconds

# Convert results to a visual table
results_df_microseconds = pd.DataFrame(list(results_microseconds.items()), columns=['Operation', 'Time (microseconds)'])
results_df_microseconds

                       Operation  Time (microseconds)
0      Delete last element (pop)            24.382000
1  Delete first element (pop(0))          2215.656001
2            Append 1 at the end            14.323999
3      Insert 1 at the beginning          3674.150001

### For N = 30,000 elements:

In [19]:
import timeit
import pandas as pd

# Number of elements
N = 30000

# Operations to be measured
operations = {
    "Delete last element (pop)": "lst.pop()",
    "Delete first element (pop(0))": "lst.pop(0)",
    "Append 1 at the end": "lst.append(1)",
    "Insert 1 at the beginning": "lst.insert(0, 1)"
}

# Measure time for each operation
results = {}
for description, operation in operations.items():
    setup_code = f"lst = list(range({N}))"
    time_taken = timeit.timeit(stmt=operation, setup=setup_code, number=1000)
    results[description] = time_taken

results_microseconds = {operation: time * 1e6 for operation, time in results.items()}  # convert seconds to microseconds

# Convert results to a visual table
results_df_microseconds = pd.DataFrame(list(results_microseconds.items()), columns=['Operation', 'Time (microseconds)'])
results_df_microseconds

                       Operation  Time (microseconds)
0      Delete last element (pop)            14.182000
1  Delete first element (pop(0))          2650.950000
2            Append 1 at the end            13.226000
3      Insert 1 at the beginning          5055.185001

### Completed table

In [20]:
import timeit
import pandas as pd

# Number of elements for each test
Ns = [10000, 20000, 30000]

# Operations to be measured
operations = {
    "list.pop()": "lst.pop()",
    "list.pop(0)": "lst.pop(0)",
    "list.append(1)": "lst.append(1)",
    "list.insert(0, 1)": "lst.insert(0, 1)"
}

# Initialize a dictionary to hold the results
all_results = {op: [] for op in operations}

# Measure time for each operation at different list sizes
for N in Ns:
    for description, operation in operations.items():
        setup_code = f"lst = list(range({N}))"
        # Measure the time and convert to microseconds
        time_taken = timeit.timeit(stmt=operation, setup=setup_code, number=1000) * 1e6
        all_results[description].append(time_taken)

# Convert results to a DataFrame for a nice table format
results_df = pd.DataFrame(all_results, index=[f'N={N}' for N in Ns])
results_df.transpose()

                    N=10000   N=20000      N=30000
list.pop()           14.582    17.361    13.648000
list.pop(0)         979.079  2402.692  2638.965000
list.append(1)       22.710    39.306    13.181000
list.insert(0, 1)  1908.318  3398.781  4733.655001

#### 2.- Python provides a data structure with interesting properties in the collection.deque class. The word deque stands for double-ended queue because this data structure is designed to efficiently put and remove elements at the beginning and at the end of the collection. Evaluate the following methods with N = 10 000, 20 000 and 30 000 elements:
    a. deque.pop()
    b. deque.popleft()
    c. deque.append(1)
    d. deque.appendleft(1)

#### Make a table with your results. It should looks like table on pp. 39 on the same book as previous task.

### For N = 10,000 elements:

In [21]:
from collections import deque

# Redefining the operations for deque
deque_operations = {
    "Delete last element (pop)": "d.pop()",
    "Delete first element (popleft)": "d.popleft()",
    "Append 1 at the end": "d.append(1)",
    "Append 1 at the beginning": "d.appendleft(1)"
}

# Number of elements
N = 10000

# Measure time for each deque operation
deque_results = {}
for description, operation in deque_operations.items():
    setup_code = f"from collections import deque\nd = deque(range({N}))"
    time_taken = timeit.timeit(stmt=operation, setup=setup_code, number=1000)
    deque_results[description] = time_taken

# Convert deque results to microseconds for clearer comparison
deque_results_microseconds = {operation: time * 1e6 for operation, time in deque_results.items()} 

# Convert results to a visual table
deque_results_df_microseconds = pd.DataFrame(list(deque_results_microseconds.items()), columns=['Operation', 'Time (microseconds)'])
deque_results_df_microseconds

                        Operation  Time (microseconds)
0       Delete last element (pop)            13.710000
1  Delete first element (popleft)            14.317000
2             Append 1 at the end            13.401999
3       Append 1 at the beginning            13.647001

### For N = 20,000 elements:

In [27]:
from collections import deque

# Redefining the operations for deque
deque_operations = {
    "Delete last element (pop)": "d.pop()",
    "Delete first element (popleft)": "d.popleft()",
    "Append 1 at the end": "d.append(1)",
    "Append 1 at the beginning": "d.appendleft(1)"
}

# Number of elements
N = 20000

# Measure time for each deque operation
deque_results = {}
for description, operation in deque_operations.items():
    setup_code = f"from collections import deque\nd = deque(range({N}))"
    time_taken = timeit.timeit(stmt=operation, setup=setup_code, number=1000)
    deque_results[description] = time_taken

# Convert deque results to microseconds for clearer comparison
deque_results_microseconds = {operation: time * 1e6 for operation, time in deque_results.items()} 

# Convert results to a visual table
deque_results_df_microseconds = pd.DataFrame(list(deque_results_microseconds.items()), columns=['Operation', 'Time (microseconds)'])
deque_results_df_microseconds

                        Operation  Time (microseconds)
0       Delete last element (pop)               13.818
1  Delete first element (popleft)               14.248
2             Append 1 at the end               13.596
3       Append 1 at the beginning               13.417

### For N = 30,000 elements:

In [28]:
from collections import deque

# Redefining the operations for deque
deque_operations = {
    "Delete last element (pop)": "d.pop()",
    "Delete first element (popleft)": "d.popleft()",
    "Append 1 at the end": "d.append(1)",
    "Append 1 at the beginning": "d.appendleft(1)"
}

# Number of elements
N = 30000

# Measure time for each deque operation
deque_results = {}
for description, operation in deque_operations.items():
    setup_code = f"from collections import deque\nd = deque(range({N}))"
    time_taken = timeit.timeit(stmt=operation, setup=setup_code, number=1000)
    deque_results[description] = time_taken

# Convert deque results to microseconds for clearer comparison
deque_results_microseconds = {operation: time * 1e6 for operation, time in deque_results.items()} 

# Convert results to a visual table
deque_results_df_microseconds = pd.DataFrame(list(deque_results_microseconds.items()), columns=['Operation', 'Time (microseconds)'])
deque_results_df_microseconds

                        Operation  Time (microseconds)
0       Delete last element (pop)               14.047
1  Delete first element (popleft)               13.412
2             Append 1 at the end               13.928
3       Append 1 at the beginning               13.742

### Completed table

In [30]:
# Combining and modifying the provided code to measure and display results for N = 10000, 20000, 30000 in a formatted table

from collections import deque
import timeit
import pandas as pd

# Setup for different sizes and operations
Ns = [10000, 20000, 30000]
deque_operations = {
    "Delete last element (pop)": "d.pop()",
    "Delete first element (popleft)": "d.popleft()",
    "Append 1 at the end": "d.append(1)",
    "Append 1 at the beginning": "d.appendleft(1)"
}

# Dictionary for results
results = {N: {op: None for op in deque_operations} for N in Ns}

# Measure times
for N in Ns:
    for op_desc, op_code in deque_operations.items():
        setup_code = f"from collections import deque\nd = deque(range({N}))"
        time_taken = timeit.timeit(stmt=op_code, setup=setup_code, number=1000)
        results[N][op_desc] = time_taken * 1e6  # Convert to microseconds

# Preparing data for the table
data_for_table = []
for op_desc in deque_operations:
    row = [op_desc.split(' ')[-1]] + [results[N][op_desc] for N in Ns]
    data_for_table.append(row)

# Creating DataFrame
df_results = pd.DataFrame(data_for_table, columns=['Code', 'N=10000 (µs)', 'N=20000 (µs)', 'N=30000 (µs)'])
df_results

        Code  N=10000 (µs)  N=20000 (µs)  N=30000 (µs)
0      (pop)     18.506999     14.983000     14.392999
1  (popleft)     18.393000     14.419000     13.467000
2        end     16.164000     14.285000     13.468000
3  beginning     14.882000     13.948999     15.728000

#### 3.- The efficiency gained by the appendleft and popleft comes at a cost: accesing an element in the middle of a deque is a O(N) operation. Evaluate the time for the next operations with with N = 10 000, 20 000 and 30 000 elements:
    a. deque[0]
    b. deque[N-1]
    c. deque[int(N/2)]
#### Make a table with your results.

In [31]:
import timeit
import pandas as pd

# Number of elements for each test
Ns = [10000, 20000, 30000]

# Operations to be measured, corresponding to deque operations
operations = {
    "deque[0]": "lst[0]",
    "deque[N - 1]": "lst[-1]",
    "deque[int(N / 2)]": "lst[int(len(lst) / 2)]"
}

# Initialize a dictionary to hold the results
results = {op: [] for op in operations}

# Measure time for each operation at different deque sizes
for N in Ns:
    for description, operation in operations.items():
        # Set up the deque for each operation
        setup_code = f"from collections import deque; lst = deque(range({N}))"
        # Measure the time taken for the operation, convert to microseconds
        time_taken = timeit.timeit(stmt=operation, setup=setup_code, number=1000) * 1e6
        # Append the results
        results[description].append(time_taken)

# Convert the results into a DataFrame for nicer formatting
results_df = pd.DataFrame(results, index=[f'N={N}' for N in Ns]).transpose()

# Display the results
results_df

                   N=10000     N=20000     N=30000
deque[0]            15.269    9.394000    9.521000
deque[N - 1]        24.414   11.286999   11.214999
deque[int(N / 2)]  116.117  221.748000  352.447000

#### 4. Explain what is Overallocation in lists.

It is Python's strategy of allocating more space than is immediately necessary when elements are added to a list. This extra space is intended to minimize the number of reallocations needed as the list grows. This optimizes the process when more data is going to be added to the list, however it affects memory usage that could probably never be used

Reference: 
1. M. Gorelick & I. Ozsvald
(2020). High Performance Python. Practical Performant Programming for Humans. Second Edition. United States of America: O’Reilly Media, Inc.

2. 8.2. Python Lists Revisited — Problem Solving with Algorithms and Data Structures 3rd edition. (s. f.). https://runestone.academy/ns/books/published/pythonds3/Advanced/PythonListsRevisited.html